*{ box-sizing: border-box; }
body{ font-family: Arial, Helvetica, sans-serif; background-color: aquamarine; margin: 20px;
padding: 20px; }

.card{ 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 48px; 
    background-color: beige; 
    border: 6px solid blue;
    
    p{color: blue;}

    h1{color: blue; font-size: larger; margin: 20px;}
}