*{ box-sizing: border-box; }
body{ font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: aquamarine; 
    margin: 20px;
padding: 20px; }

.card{ 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 16px; 
    background-color: white; 
    border: 3px solid blue;
    
    p{color: blue;}

    h1{color: blue; font-size: xx-large; margin: 0 auto;}
}