* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    background-color: beige;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
}

main {
    max-width: 800px;
    width: 90%;
    padding: 45px;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

h1 {
    font-weight: bolder;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 16px;
    border-bottom: 10px solid rgba(0, 0, 0, 1);
    padding-bottom: 16px;
    text-align: center;
}

p {
    margin-bottom: 16px;
}

.screenshot-container {
    margin: 32px 0;
    padding: 16px;
    border: 10px solid rgba(0, 0, 0, 1);
    text-align: center;
}

.screenshot-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 10px solid rgba(0, 0, 0, 0.25);
}